In [1]:

import logging
import sys
sys.path.append("../../code")
from Tusharedata.daily import load
import backtrader as bt
import pandas as pd

2021-05-15 13:05:25,378 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2021-05-15 13:05:25,378 INFO sqlalchemy.engine.base.Engine ()
2021-05-15 13:05:25,380 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2021-05-15 13:05:25,381 INFO sqlalchemy.engine.base.Engine ()
2021-05-15 13:05:25,394 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("data_cache")
2021-05-15 13:05:25,410 INFO sqlalchemy.engine.base.Engine ()

In [2]:
# 获取数据

df = load(code="300059.SZ")
df.index=pd.to_datetime(df.date)
df = df[['open','high','low','close','vol',"ma5","ma10","ma20","ma30"]]
df

DEBUG:root:>>>>> load DataCache
2021-05-15 13:05:29,283 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
INFO:sqlalchemy.engine.base.Engine:BEGIN (implicit)
2021-05-15 13:05:29,300 INFO sqlalchemy.engine.base.Engine SELECT data_cache.id AS data_cache_id, data_cache."key" AS data_cache_key, data_cache.value AS data_cache_value
FROM data_cache
WHERE data_cache."key" = ?
 LIMIT ? OFFSET ?
INFO:sqlalchemy.engine.base.Engine:SELECT data_cache.id AS data_cache_id, data_cache."key" AS data_cache_key, data_cache.value AS data_cache_value
FROM data_cache
WHERE data_cache."key" = ?
 LIMIT ? OFFSET ?
2021-05-15 13:05:29,317 INFO sqlalchemy.engine.base.Engine ('daily.300059.sz', 1, 0)
INFO:sqlalchemy.engine.base.Engine:('daily.300059.sz', 1, 0)
DEBUG:root:>>>>> load DataCache end
DEBUG:root:>>>>> load return data

,open,high,low,close,vol,ma5,ma10,ma20,ma30
date,,,,,,,,,
2010-03-19,1.3124,1.3382,1.2485,1.2554,197373.26,NaN,NaN,NaN,NaN
2010-03-22,1.3146,1.3811,1.2965,1.3811,110103.62,NaN,NaN,NaN,NaN
2010-03-23,1.3555,1.4127,1.3451,1.4006,85522.14,NaN,NaN,NaN,NaN
2010-03-24,1.4024,1.5381,1.3907,1.4779,72530.24,NaN,NaN,NaN,NaN
2010-03-25,1.4777,1.5405,1.4635,1.5013,60225.14,1.4033,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
2021-05-10,30.1500,30.3000,29.5200,29.9900,1376235.18,31.1420,31.079,29.7890,29.1573
2021-05-11,29.7100,30.9900,29.4000,30.6600,1713750.31,30.8760,31.094,29.9170,29.2770
2021-05-12,30.2000,30.5300,30.0000,30.4600,1135110.07,30.5200,30.981,30.0560,29.3847
2021-05-13,30.0000,30.9500,29.9200,30.5000,1140028.75,30.3600,30.929,30.2385,29.4647
2021-05-14,30.9000,34.8900,30.8600,34.4000,4533814.60,31.2020,31.348,30.6065,29.6857

In [5]:

cerebro = bt.Cerebro()
#broker设置资金、手续费
cerebro.broker.setcash(100000.0)
cerebro.broker.setcommission(commission=0.001)
#设置买入设置，策略，数量
cerebro.addsizer(bt.sizers.FixedSize, stake=500) 
# 设置数据
data = bt.feeds.PandasData(dataname=df) 
cerebro.adddata(data)
logging.debug('Starting Portfolio Value: %.2f' % cerebro.broker.getvalue())
cerebro.run()
logging.debug('Final Portfolio Value: %.2f' % cerebro.broker.getvalue())

DEBUG:root:Starting Portfolio Value: 100000.00
DEBUG:root:Final Portfolio Value: 100000.00